.a {
    background-color: blue !important;
}

.b {
    background-color:red impo !important;
}

body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}
 

a:hover{
text-decoration: none;
color:green;
}

h2, h3, h4{
z-index:1;
font-size: 40px;
text-align: center;
background-color: dimgrey;
opacity: 60%;
font-family: impact, fantasy;
color: snow;
}


.about-container{
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-top: 5em;
}

.about{
z-index:1;
font-size: 20px;
text-align: center;
background-color: dimgrey;
opacity: 60%;
font-family: impact, fantasy;
color: snow;
width: 250px;
height: 350px;
border: 2px solid black;
display: flex;
flex-direction: column;
justify-content: center;
margin-bottom: 1em;
margin-top: 1em;
}
.about-title{
    z-index:1;
    font-size: 30px;
    text-align: center;
    background-color: dimgrey;
    opacity: 60%;
    font-family: impact, fantasy;
    color:red;
}

.about p, .about-title{
    margin-bottom: 0;
}
        
footer {
    height: 10vh;
    background-color: dimgrey;
    z-index: 1;
    opacity: 60%;
    color:snow;
    font-size: 40px;
    font-weight: 400;
    font-family: impact, fantasy;
    letter-spacing: 2px;;
    text-align: center;
    
}
        
.banner1,
.banner2,
.banner3,
.banner4 {
    width: 100%;
    font-family: impact, fantasy;
}
        

header ul{
    text-align: center;
    display:flex;
    flex-direction: row;
}

header ul li{
 list-style: none;
 display: inline-block;
}

header li a{
    list-style: none; 
    display: inline-block;  
    text-decoration: none;
    text-transform: uppercase;
    color:snow;
    font-size: 20px;
    font-family: impact, fantasy;
    letter-spacing: 2px;
    font-weight: 400;
    padding: 25px;
}
        
header {
    background-color: dimgrey;
    height: 10vh;
    width: 100%;
    z-index: 1;
    opacity: 60%;
    display:flex;
    justify-content: space-around;
}
        

            
img {
    width: 120%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: zoom-out 3s linear infinite;
}

@keyframes zoom-out {
    100% {width: 100%;}
}
.text-box {
    width: 600px;
    position: absolute;
    top: 200px;
    left: 100px;
    color: snow;
    animation: textup 12s linear infinite;
    transform: translateY(100px);
    font-size: 20px;
}
.text-box h1 {
    margin-bottom: 40px;
}
.text-box p {
    font-size: 14 px;
    line-height: 18px;
    margin-top: 80px;
}
.text-box span {
    background: red;
    height: 2px;
    width: 200px;
    position: absolute;
    left: 0;
}
.banner1 {
    animation: slide1 12s linear infinite;
}
.banner2 {
    animation: slide2 12s linear infinite;
}
.banner3 {
    animation: slide3 12s linear infinite;
}
.banner4 {
    animation: slide4 12s linear infinite;
}
@keyframes slide1 {
    0% {
        visibility: visible;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes slide2 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: visible;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide3 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: visible;
    }
    100% {
        visibility: hidden;
    }
}
@keyframes slide4 {
    0% {
        visibility: hidden;
    }
    25% {
        visibility: hidden;
    }
    50% {
        visibility: hidden;
    }
    75% {
        visibility: hidden;
    }
    100% {
        visibility: visible;
    }
}
@keyframes textup {
    10% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
.text-box1 {
    animation-delay: 0s;
}
.text-box2 {
    animation-delay: 3s;
}
.text-box3 {
    animation-delay: 6s;
}
.text-box4 {
    animation-delay: 9s;
}

@media only screen and (min-width: 600px){
    .about-container{
        flex-direction: row;
    }
}
@media only screen and (max-width: 600px){
header ul{
    flex-direction: column;

}
header{
height: 40vh;

}

}